.price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font-color);
}

.price__number {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6D5BD0;
}
